---
import { getCollection } from "astro:content";

const posts = await getCollection("blogCollection")
---

<section class="relative flex flex-col items-center justify-center h-screen overflow-hidden">
	<div
		class="absolute h-[520px] w-[520px] bg-transparent rotate-45 border-[1px] border-primary-light-border dark:border-primary-dark-border square"
	>
	</div>
	<div class="relative flex flex-col items-center justify-center gap-5 w-[350px] md:w-[550px]">
		<h2 class="text-2xl text-center text-primary-light-text dark:text-primary-dark-text transition-all duration-75">Hi, I'm Ricardo Guzman</h2>
		<h1 class="text-5xl text-center tracking-wide leading-[1.2] bg-gradient-to-r from-[#444] to-primary-dark-text dark:from-primary-dark-text dark:to-[#444] bg-clip-text text-transparent transition-all duration-75">
			A Software Developer based in Spain
		</h1>
		<p class="text-center text-sm text-primary-light-text dark:text-primary-dark-text max-w-10/12 text-pretty transition-all duration-75">
			This is my personal website where I share personal and
			software-related findings
		</p>
		<button id="scroll-to-posts" class="relative top-10 border-1 border-primary-light-border dark:border-primary-dark-border rounded-full p-2 hover:bg-primary-light-border dark:hover:bg-primary-dark-border transition-all duration-300 cursor-pointer">
			<svg
                class="dark:fill-primary-dark-text fill-primary-light-text"
				fill="#000"
				version="1.1"
				id="Layer_1"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="40px"
				height="40px"
				viewBox="0 0 100 100"
				enable-background="new 0 0 100 100"
				xml:space="preserve"
				><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<g>
						<path
							d="M50.5,19.881c-1.104,0-2,0.896-2,2V72.17L33.193,56.609c-0.781-0.781-1.922-0.781-2.703,0 c-0.781,0.78-0.719,2.047,0.062,2.828l18.883,18.857c0.375,0.375,0.899,0.586,1.43,0.586s1.047-0.211,1.422-0.586l18.857-18.857 c0.781-0.781,0.783-2.048,0.002-2.828c-0.781-0.781-2.296-0.781-3.077,0L52.5,71.933V21.881C52.5,20.776,51.604,19.881,50.5,19.881 z"
						></path>
					</g>
				</g></svg
			>
		</button>
	</div>
</section>