---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ricardo's Guzman Blog</title>
	</head>
	<body
		class="bg-primary-light text-primary-dark dark:bg-primary-dark dark:text-primary-light font-inter"
	>
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
	html,
	body {
		font-family: "Inter", sans-serif;
		font-size: 16px;
		margin: 0;
		width: 100%;
		height: auto;
	}
</style>
